<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.martafode.feature.main">

    <application>

        <!--
        `configChanges="mcc|mnc"` has been set because we
        don't want to recreate all views when it happens.
        All `android:configChanges` options here:
        https://developer.android.com/guide/topics/manifest/activity-element#config
        -->
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="mcc|mnc"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="servedup.terminal.feature.main.open" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
